.srk1 { border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} .anniuadd { font-size: 9pt; background-color: #DFDFDF; 
  padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; 
  cursor: hand; vertical-align: middle; height: 20px; width: 50px; border-style: 
  outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px; background-image: url(/images/anjia.gif); background-repeat: 
  no-repeat} .anniudel { font-size: 9pt; background-color: #DFDFDF; padding-top: 
  1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; cursor: hand; 
  vertical-align: middle; height: 20px; width: 50px; border-style: outset; border-top-width: 
  1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; 
  background-image: url(/images/anshan.gif); background-repeat: no-repeat} .anniuedit 
  { font-size: 9pt; background-color: #DFDFDF; padding-top: 1px; padding-right: 
  1px; padding-bottom: 1px; padding-left: 1px; cursor: hand; vertical-align: middle; 
  height: 20px; width: 50px; border-style: outset; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; background-image: url(/images/anxiu.gif); 
  background-repeat: no-repeat} .anniuser { font-size: 9pt; background-color: 
  #DFDFDF; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 
  1px; cursor: hand; vertical-align: middle; height: 20px; width: 50px; border-style: 
  outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px; background-image: url(/images/ancha.gif)}.anniutime{ 
  font-size: 9pt; background-color: #DFDFDF; padding-top: 0px; padding-right: 
  0px; padding-bottom: 0px; padding-left: 0px; cursor: hand; vertical-align: middle; 
  height: 18px; width: 18px; background-image: url(/images/antime.gif); border-style: 
  outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} .title { height: 20px; width: 200px; padding-left: 
  0px; border-style: inset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} .biaoline { background-color: dfdfdf; border-color: 
  black black #000000; border-style: solid; border-top-width: 0px; border-right-width: 
  0px; border-bottom-width: 1px; border-left-width: 0px} .biaonoline { background-color: 
  dfdfdf; border-style: none; border-top-width: 0px; border-right-width: 0px; 
  border-bottom-width: 0px; border-left-width: 0px} .topandbottem { border-color: 
  #000000 black; border-style: solid; border-top-width: 1px; border-right-width: 
  0px; border-bottom-width: 1px; border-left-width: 0px} .biao4line { background-color: 
  dfdfdf; border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px} .anniu { background-color: 
  #E3E3E3; border-style: outset; border-top-width: 1px; border-right-width: 1px; 
  border-bottom-width: 1px; border-left-width: 1px} .lineb { border-color: black 
  black #000000; border-style: solid; border-top-width: 0px; border-right-width: 
  0px; border-bottom-width: 1px; border-left-width: 0px} .lineno { border-style: 
  solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 
  0px; border-left-width: 0px} .bordx { border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px} 
  .an2 { background-color: #dfdfdf; width: 90px; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px} .anniuxia { font-size: 
  9pt; background-color: #dfdfdf; background-image: url(/images/anxia.gif); vertical-align: 
  middle; cursor: hand; background-repeat: no-repeat; height: 20px; width: 80px; 
  border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} .anniuadd2 { font-size: 9pt; background-color: 
  #dfdfdf; background-image: url(/images/anjia.gif); background-repeat: no-repeat; 
  vertical-align: middle; height: 20px; border-style: outset; border-top-width: 
  1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; 
  cursor: hand; width: 80px}.anniuadd3 { font-size: 9pt; background-color: #dfdfdf; 
  background-image: url(/images/anjia.gif); background-repeat: no-repeat; vertical-align: 
  middle; height: 20px; border-style: outset; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand; width: 
  120px} .anniuback { font-size: 9pt; background-color: #dfdfdf; background-image: 
  url(/images/anback.gif); background-repeat: no-repeat; vertical-align: middle; 
  height: 20px; border-style: outset; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand; width: 
  90px}.anniudel2 { font-size: 9pt; background-color: #dfdfdf; background-image: 
  url(/images/anshan.gif); background-repeat: no-repeat; vertical-align: middle; 
  height: 20px; width: 80px; border-style: outset; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand} .anniudel3 
  { font-size: 9pt; background-color: #dfdfdf; background-image: url(/images/anshan.gif); 
  background-repeat: no-repeat; vertical-align: middle; height: 20px; width: 120px; 
  border-style: outset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px; cursor: hand} .anniu2 { font-size: 9pt; background-color: 
  #dfdfdf; vertical-align: middle; height: 20px; width: 60px; border-style: outset; 
  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 
  1px; cursor: hand} .anniu100 { background-color: #F2F2F2; font-size: 9pt; width: 
  100%; border-style: inset; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} .bord1 { left: 5px; top: 5px; clip: rect(5px 5px 
  5px 5px); border: #999999 solid; border-width: 0px 0px 1px 1px}.bord2 { border: #666666 solid; border-width: 1px 0px 1px 1px}.bord3 { border: #999999 solid; border-width: 0px 1px 1px}.bord4 
  { border: 1px #666666 solid}.bord5 { border: #000000; 
  border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 
  1px; border-left-width: 0px}.an3 { font-size: 9pt; background-color: #dfdfdf; 
  vertical-align: middle; height: 20px; width: 90px; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand} .
.an300 { font-size: 9pt; background-color: menu; 
  vertical-align: middle; height: 20px; width: 90px; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand} .an4 { 
  font-size: 9pt; background-color: #dfdfdf; vertical-align: middle; height: 20px; 
  width: 110px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px; cursor: hand} .bordb1 { left: 5px; top: 5px; clip: 
  rect(5px 5px 5px 5px); border: #cccccc; border-style: solid; border-top-width: 
  0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 1px}.bordb2 
  { border: #cccccc; border-style: solid; border-top-width: 1px; border-right-width: 
  0px; border-bottom-width: 1px; border-left-width: 1px}.bordb3 { border: #cccccc; 
  border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px}

.bordb4 { border: #cccccc; border-style: solid; 
  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 
  1px}
  
.anniuedit2 { font-size: 9pt; background-color: #dfdfdf; background-image: 
  url(/images/anxiu.gif); background-repeat: no-repeat; vertical-align: middle; 
  height: 20px; width: 80px; border-style: outset; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; cursor: hand} \

.bord6 
  { border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; 
  border-left-width: 0px} table { font-size: 9pt} 

.bord7 { border: #000000; border-style: 
  solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 
  0px; border-left-width: 1px} 

.bord { } 

.bord8 { border: #000000; border-style: 
  solid; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 
  1px; border-left-width: 0px} 

.hand1 { cursor: hand; border: #000000; border-style: 
  solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
  1px; border-left-width: 1px} 

.hand2 { cursor: hand; border: #000000; border-style: 
  solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 
  0px; border-left-width: 0px}
  
.lineno2 { background-color: #dfdfdf; border-style: 
  solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 
  0px; border-left-width: 0px} 
 
.anniu101 { background-color: #dfdfdf; width: 100%; 
  cursor: hand; vertical-align: middle; border-top-width: 0px; border-right-width: 
  0px; border-bottom-width: 0px; border-left-width: 0px; height: 20px}
  
.an100new { background-color: #dfdfdf; text-align: left; text-indent: 4pt; vertical-align: 
middle; width: 100%; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 
1px; border-left-width: 1px} 

.div1 { border-top:buttonface 1px solid;border-left:buttonface 
1px solid;border-bottom:windowframe 1px solid;border-right:windowframe 1px solid;} 
.div2 { border-top:window 1px solid;border-left:window 1px solid;border-bottom:buttonshadow 
1px solid;border-right:buttonshadow 1px solid;} 
.MouseOver {background-color:highlight;color:highlighttext;font-size: 
12px;cursor:hand;font-size: 12px;} 
.MouseOut {background-color:buttonface;color:buttontext;font-size: 
12px;cursor:default;font-size: 12px;}
.bord9 { border: #000000; border-style: solid; 
border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 
1px} 
.an6 { font-size: 9pt; background-color: menu; height: 20px; width: 60px; 
cursor: hand; vertical-align: middle; border-top-width: 1px; border-right-width: 
1px; border-bottom-width: 1px; border-left-width: 1px; color: #000000} 

.laihui{ background-image: url(/images/laihui.gif); background-repeat: no-repeat; height: 
22px; width: 22px; background-color: dfdfdf; padding-top: 0px; padding-right: 
0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 1px; border-right-width: 
1px; border-bottom-width: 1px; border-left-width: 1px} 

.anniu102 { font-size:9pt; color: #FFFFFF; background-color: #999999; height: 20px; width: 100%; border-top-width: 
0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; 
cursor: hand} .defaultzi{cursor: default} .anxiax{background-image: url(/images/anxiax.gif)}

.tbutton{display:none; position:absolute; top:0; left:0; border=0; cursor:hand}

.comtext{border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; overflow:hidden}
.yeltext{border: #000000; border-style: solid; border-top-width: 1px; border-right-width: 
  1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #FFFFCC; overflow:hidden}

.hand {  cursor: hand}
.anxiao {  height: 20px; width: 20px; line-height: 18px; clear: none; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; background-image: url(../images/ancss.gif); background-color: #CCCCCC}
.ancss {  height: 18px; width: 38px; cursor: hand; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}
.linemenu {  background-color: menu; border-color: black black #000000; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.handhand {  cursor: hand}
