/*gnmv2008--CSS */

/*颜色值定义*/
.main-bg-01{background-color: #999999;}/*主页面表格标题行颜色*/
.main-bg-02{background-color: #ECECEC;}/*主页面表格内容行颜色,子页面背景色*/
.main-bg-03{font-size: 12.8px; color:#FF0000}
.main-bg-04{background-color: #666666}/*用户管理标题,子页面最后一行的底色*/
.main-bg-05{background-color: #DFDFDF}/*主页面按钮行的背景色,子页面背景色*/
.main-bg-06{background-color: #CCCCCC}/*子页面按钮行的背景色,帮助信息背景色*/
/*所有DBDBDB都用DFDFDF代替*/

/*主页面body样式*/
.body0
{
	background-color:#cccccc;
	margin:0;
	color:#000000;
	scrollbar-face-color:#999999;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#999999;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#CCCCCC;
}
.body1
{
	background-color:#FFFFFF;
	margin:0;
	color:#000000;
	scrollbar-face-color:#999999;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#999999;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#CCCCCC;
}
.body1  .item {
        width: 570px;
}
.body1 .itemBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/contentBg.gif) repeat-y center 50%; WIDTH:570px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px;
}
.body1 .iBottom {
	BACKGROUND: url(images/contentBottom.gif) no-repeat center 50%; HEIGHT: 1px
}

.body1 .placeTitle{
        background: url(images/topBar_bg.gif);height: 30px
}

/*子页面body样式*/
.body2
{
	background-color:#ECECEC;
	margin:0;
	color:#000000;
	scrollbar-face-color:#999999;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#999999;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#CCCCCC;
}

/*错误信息body样式*/
.body3
{
	background-color:#DFDFDF;
	margin:0;
	color:#000000;
	scrollbar-face-color:#999999;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#999999;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#999999;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#CCCCCC;
}
/*错误信息字体样式*/
.errorinfo{font-size: 12px;color:red;}

/*表格样式定义*/
/*帮助信息表格样式*/
.tablehelp{  
	font-size: 12px; 
	line-height: 20px; 
	color: #000000; 
	padding-right: 5px; 
	padding-left: 5px; 
	border: 1px #666666 dotted; 
	padding-top: 5px; 
	padding-bottom: 5px;
	background-color:#CCCCCC;
}
/*主页面表格*/
.table1
{
  border-left:#FFFFFF solid 1px;
  border-top:#FFFFFF solid 1px;
 	border-right:#aaaaaa solid 1px;
 	border-bottom:#aaaaaa solid 1px;
	border-collapse:collapse;
        word-break:break-all;
	layout-grid-type:fixed	
}
.table1 th
{
	border-right:#FFFFFF solid 1px;
	border-bottom:#FFFFFF solid 1px;
	text-align:center;
	line-height: 20px;
	font-size: 12px;
	font-weight:normal;
	color:white;
	background-color:#999999;
}
.table1 tr
{
        padding-left:5px;
        height:20px;
        background-color:expression(this.rowIndex%2!=1?'#ebebeb':'#efefef');

}
.table1 td
{
	border-right:#FFFFFF solid 1px;
	border-bottom:#FFFFFF solid 1px;
	text-align:center;
	line-height: 20px;
	font-size: 12px;
	color:#000000;
	/*background-color:#ECECEC;*/
}

/*子页面表格*/
.table2
{
  border: 1px #666666 solid;
	border-collapse:collapse;
	word-break:break-all;
	layout-grid-type:fixed	
}
.table2 th
{
	border-right:#ececec solid 1px;
	border-bottom:#ececec solid 1px;
	text-align:center;
	line-height: 20px;
	font-size: 12px;
	color:white;
	font-weight:normal;
	background-color:#999999;
}

.table2 tr
{
	background-color:#dfdfdf;
}

.table2 td
{
	border-right:#ececec solid 1px;
	border-bottom:#ececec solid 1px;
	text-align:center;
	line-height: 20px;
	font-size: 12px;
	color:#000000;
}

/*子页面边框样式*/
.frame2 { border: solid; font-size: 12px; border-width: 0px 1px; border-color: black #666666; font-weight: bold}

/*输入框样式*/
/*不检查是否输入非法字符*/
.input {  
	background-color: #f0f0f0; 
	border: 1px #666666 solid; 
	font-size: 12px; 
	clip:rect(   );
	onmouseover: expression(onmouseover=function (){this.style.color='#0066FF';});
	onmouseout: expression(onmouseout=function (){this.style.color='#000000';});
}
.inputf0 {  
	background-color: #f0f0f0; 
	border: 1px #666666 solid; 
	font-size: 12px; 
	clip:rect(   );
	onmouseover: expression(onmouseover=function (){this.style.color='#0066FF';});
	onmouseout: expression(onmouseout=function (){this.style.color='#000000';});
}
.inputchk {  
	background-color: #f0f0f0; 
	border: 0px #666666 solid; 
	font-size: 9px; 
	clip:rect(   );
	onmouseover: expression(onmouseover=function (){this.style.color='#0066FF';});
	onmouseout: expression(onmouseout=function (){this.style.color='#000000';});
}

.inputsel {  
	background-color: #f0f0f0; 
	border: 0px #666666 solid; 
	font-size: 12px; 
	clip:rect(   );
	color: #0066FF;
}
.inputself0 {  
	background-color: #f0f0f0; 
	border: 0px #666666 solid; 
	font-size: 12px; 
	clip:rect(   );
	color: #0066FF;
}

/*检查是否输入非法字符*/
.input2{  background-color: #cccccc; border: 1px #666666 solid; font-size: 12px; clip:rect(   );onkeydown: expression(onkeydown=function (){if(event.keyCode==13){event.keyCode = 0;event.returnvalue = false;}});onblur: expression(onblur=function (){if(this.value.indexOf("<")!=-1||this.value.indexOf(">")!=-1){alert("不能包含字符'<','>'");focus();}});}
.color999 {
	BORDER-RIGHT: #9c9c9c 1px solid; BORDER-TOP: #9c9c9c 1px solid; BACKGROUND: #fefefe; BORDER-LEFT: #9c9c9c 1px solid; COLOR: #444; BORDER-BOTTOM: #9c9c9c 1px solid
}
.colorCCC {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; COLOR: #888; BORDER-BOTTOM: #ccc 1px solid
}

/*链接样式定义*/
/*编辑,删除链接*/
a.operate:link{font-size:12px;color:#0159A4;text-decoration:none}
a.operate:visited{font-size:12px;color:#0159A4;text-decoration:none}
a.operate:hover{font-size:12px;color:#0066FF;text-decoration:none}
a.operate:active{font-size:12px;color:#0159A4;text-decoration:none}

/*错误信息链接*/
a.errorlink:link{font-size:12px;color:#0159A4;text-decoration:underline;}
a.errorlink:visited{font-size:12px;color:#0159A4;text-decoration:underline;}
a.errorlink:hover{font-size:12px;color:#0066FF;text-decoration:underline;}
a.errorlink:active{font-size:12px;color:#0159A4;text-decoration:underline;}

/*按钮链接*/
a.button:link{font-size:12px;color:#000000;text-decoration:none;}
a.button:visited{font-size:12px;color:#000000;text-decoration:none;}
a.button:hover{font-size:12px;color:#0066FF;text-decoration:none;}
a.button:active{font-size:12px;color:#000000;text-decoration:none;}

/*下载链接*/
a.down:link{font-size:12px;color:#0159A4;text-decoration:underline}
a.down:visited{font-size:12px;color:#0159A4;text-decoration:underline}
a.down:hover{font-size:12px;color:#0066FF;text-decoration:underline}
a.down:active{font-size:12px;color:#0159A4;text-decoration:underline}

/*缺省链接*/
a:link {color: #000000; text-decoration: none}
a:visited {color: #000000; text-decoration: none}
a:hover {color:#0066FF; text-decoration: none}
a:active {color: #000000; text-decoration: none}

/*字体定义*/
.white {font-size: 12.8px; color:#FFFFFF}
.text20 { font-size: 12px; line-height: 20px; color: #000000; text-decoration: none; padding-right: 5px; padding-left: 5px}
.text {  font-size: 12px; line-height: 16px; color: #000000; text-decoration: none; clip:   rect(   ); padding-top: 2px}
.version {  font-size: 11px; color: #0159A4; letter-spacing: -1px; word-spacing: -1px}

/*标题*/
.title{  font-size: 12px; font-weight: bold; color: #FFFFFF; text-decoration: none; letter-spacing: 2px; line-height: 20px; padding-right: 5px; padding-left: 5px}


/*保存配置后提示错误*/
.tip{font-size: 12px;color:red;}


/* 页面缺省字体定义*/ 
BODY,UL,td,th,select{font-size: 12px; font-family: "宋体"}
fieldset,radio {font-size:12px;}
.form {BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 12px}
BR {font-size: 6px}


.tablebg {
	background-color: #ECECEC;
}
.notebox{
 border:0px;
width:100%;
background-color: #ECECEC;
}
.buttons {
	background-color: #f0f0f0;
	border: 1px #666666 solid;
	font-size: 12px;
	padding-top: 1px;
	clip:rect(   );
	height: 18px;

	cursor: hand;
	onmouseover: expression(onmouseover=function (){this.style.color='#0066FF';});
	onmouseout: expression(onmouseout=function (){this.style.color='#000000';});

	
}
